USE [PruebaServiex]
GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_PERSONA]    Script Date: 18/05/2023 07:36:17 p.m. ******/
DROP PROCEDURE [dbo].[SP_CRUD_PERSONA]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 18/05/2023 07:36:17 p.m. ******/
DROP TABLE [dbo].[Persona]
GO
USE [master]
GO
/****** Object:  Database [PruebaServiex]    Script Date: 18/05/2023 07:36:17 p.m. ******/
DROP DATABASE [PruebaServiex]
GO
/****** Object:  Database [PruebaServiex]    Script Date: 18/05/2023 07:36:17 p.m. ******/
CREATE DATABASE [PruebaServiex] ON  PRIMARY 
( NAME = N'PruebaServiex', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\PruebaServiex.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PruebaServiex_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\PruebaServiex_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaServiex].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaServiex]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 18/05/2023 07:36:18 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Fecha_Nacimiento] [datetime] NOT NULL,
	[Sexo] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_PERSONA]    Script Date: 18/05/2023 07:36:18 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CRUD_PERSONA]
(
	@PROC_TYPE INT,
	@ID INT = NULL, 
	@NOMBRE NVARCHAR(100) = NULL, 
	@FECHA_NACIMIENTO DATETIME = NULL, 
	@SEXO NVARCHAR(1) = NULL

)
AS
DECLARE
	@IDs TABLE(ID INT);
IF @PROC_TYPE = 1 
BEGIN
	INSERT INTO Persona (Nombre, Fecha_Nacimiento, Sexo) 
	OUTPUT inserted.Id INTO @IDs(ID)
	VALUES (@NOMBRE, @FECHA_NACIMIENTO, @SEXO);

	SELECT ID FROM @IDs;
END;
IF @PROC_TYPE = 2 
BEGIN
	UPDATE Persona 
	SET Nombre = @NOMBRE, 
	    Fecha_Nacimiento = @FECHA_NACIMIENTO,  
		Sexo = @SEXO 
	WHERE Id = @ID;
END;
IF @PROC_TYPE = 3 
BEGIN
	SELECT Id, Nombre, Fecha_Nacimiento, Sexo 
	FROM Persona 
	WHERE @ID IS NULL OR Id = @ID;
END;
IF @PROC_TYPE = 4 
BEGIN
	DELETE FROM Persona 
	WHERE Id = @ID;
END;
GO
USE [master]
GO
